#GreenBanner {
	height:50%px;
	width:100%;
	margin:auto;
	background-color: rgb(91, 195, 163);
	margin-top:-10px;
}
#background {
	height: 130px;
	width: 130px;
	margin: auto;
	background-image: url("http://i.imgur.com/LrIgANH.jpg"); 
		

}
body {
	text-align:center;
	font-family: "Arial";
	color: rgb(91, 195, 163);
}